/node_modules/
/js/
/css/*.css
!/css/style.scss
!/css/nc-wireguard-theme.scss
/vendor/
/.env
/.phpunit.cache
/.phpunit.result.cache
/package-lock.json
/src/_nc_gcs_src_mirror/
*.log
.DS_Store
/.backups/
